
Create database QUANLYDIEMSV
USE QUANLYDIEMSV
CREATE TABLE DMKHOA
(
MAKHOA CHAR (2) PRIMARY KEY NOT NULL,
TEANKHOA NVARCHAR (30) NOT NULL
)

CREATE TABLE DMSV
(
MASV CHAR(3) PRIMARY KEY NOT NULL,
HOSV NVARCHAR(30),
TENSV NVARCHAR(20),
PHAI INT,
NGSINH DATETIME,
NOISINH NVARCHAR (25),
MAKHOA CHAR (2) CONSTRAINT rb_makhoa  FOREIGN KEY (MAKHOA) REFERENCES DMKHOA(MAKHOA),
HOCBONG FLOAT ,
)
CREATE TABLE DMMH
(
MAMH CHAR(2)PRIMARY KEY NOT NULL,
TENMH NVARCHAR (30),
SOTIET INT
)
CREATE TABLE KETQUA
(
MASV CHAR(3) NOT NULL,
MAMH CHAR (2) NOT NULL,
LANTHI INT NOT NULL,
DIEM DECIMAL (4,2),
CONSTRAINT RB_KHOACHINH PRIMARY KEY (MASV,MAMH,LANTHI),
CONSTRAINT RB_SINHVIEN FOREIGN KEY (MASV) REFERENCES DMSV(MASV),
CONSTRAINT RB_MOHOC FOREIGN KEY (MAMH) REFERENCES DMMH(MAMH),
)
INSERT INTO DMKHOA VALUES ('AV',N'Anh Văn')
INSERT INTO DMKHOA VALUES ('TH',N'Tin Học')
INSERT INTO DMKHOA VALUES ('TR',N'Triết Học')

INSERT INTO DMMH VALUES ('01',N'Cơ sở dữ liệu','45')
INSERT INTO DMMH VALUES ('02',N'Trí tuệ nhân tạo','45')
INSERT INTO DMMH VALUES ('03',N'Truyền tinh','45')

INSERT INTO DMSV VALUES ('A01',N'Nguyễn Thị',N'Hải','1','2/23/1993',N'Hà Nội','TH','130000')
INSERT INTO DMSV VALUES ('A02',N'Trần Văn',N'Chính','0','12/24/1992',N'Bình Định','VL','150000')
INSERT INTO DMSV VALUES ('A03',N'Lê Thu Bạch',N'Yến','1','02/21/1993',N'Tp HCM','TH','170000')

INSERT INTO KETQUA VALUES ('A01','01','1','3')
INSERT INTO KETQUA VALUES ('A01','01','2','6')
INSERT INTO KETQUA VALUES ('A01','02','2','6')

select MAMH AS 'Mã_môn',TENMH as 'Tên_môn',SOTIET as 'Số_tiết'
From DMMH
Where TENMH LIKE N'T%'

select MASV AS 'Mã_sinh_viên',TENSV as 'Tên_sinh_viên',NGSINH as 'Ngày_sinh',PHAI AS 'Phái'
From DMSV
Where TENSV LIKE N'%i'

select MAKHOA AS 'Mã_khoa',TEANKHOA as 'Tên_khoa'
From DMKHOA
Where TEANKHOA LIKE N'_n%'

select MASV AS 'Mã_sinh_viên',HOSV as 'Họ_sinh_viên',TENSV as 'Tên_sinh_viên',NGSINH as 'Ngày_sinh',PHAI AS 'Phái'
From DMSV
Where HOSV LIKE N'%Thị%'

select MASV AS 'Mã_sinh_viên',HOSV as 'Họ_sinh_viên',TENSV as 'Tên_sinh_viên',NGSINH as 'Ngày_sinh',PHAI AS 'Phái',HOCBONG as 'Học_bổng'
From DMSV
Where TENSV between N'A%'and N'M%'

select MASV AS 'Mã_sinh_viên',HOSV as 'Họ_sinh_viên',TENSV as 'Tên_sinh_viên',NGSINH as 'Ngày_sinh',PHAI AS 'Phái',HOCBONG as 'Học_bổng'
From DMSV
Where NGSINH between '01/01/1992'and '05/06/1993'

select S.MASV,S.HOSV,S.TENSV,S.NGSINH,K.TEANKHOA,S.HOCBONG
FROM DMSV AS S, DMKHOA AS K 
WHERE  HOCBONG BETWEEN 80000 AND 150000 AND S.MAKHOA=K.MAKHOA

select S.MASV,S.TENSV,S.PHAI,
FROM DMSV AS S, DMKHOA AS K 
WHERE S.MAKHOA=K.MAKHOA AND S.PHAI =1 AND (TEANKHOA=N'Anh Văn'or TEANKHOA = N'Tin Học')

SELECT S.MASV ,S.TENSV ,S.PHAI,Q.DIEM
from KETQUA AS Q,DMSV AS S
WHERE Q.MASV=S.MASV AND Q.MAMH='01' AND Q.DIEM <5

SELECT S.MASV ,S.TENSV ,K.TEANKHOA,S.NOISINH,S.HOCBONG
from DMSV AS S,DMKHOA AS K
WHERE K.MAKHOA=S.MAKHOA AND K.MAKHOA='AV' AND S.HOCBONG =0

select S.HOSV+' '+ S.TENSV, S.NGAYSINH, S.NOISINH
FROM DMSV AS S
WHERE TENSV LIKE '%[a-m]%'
order by TENSV ASC

select S.MASV,S.TENSV,K.LANTHI,K.DIEM,M.TENMH
FROM DMSV AS S,DMMH AS M,KETQUA AS K
WHERE S.MASV=K.MASV AND M.MAMH=K.MAMH
AND K.LANTHI=1
AND K.DIEM<5
ORDER BY MASV ASC

SELECT S.MASV,S.TENSV,CONVERT(NVARCHAR,S.NGAYSINH,103) AS NOISINH,S.HOCBONG,K.TENKHOA
FROM DMSV AS S, DMKHOA AS K
WHERE S.MAKHOA = K.MAKHOA
AND S.HOCBONG > 100000
ORDER BY MASV

SELECT S.MASV, S.TENSV, S.NGAYSINH, S.PHAI, NOISINH
FROM DMSV AS S
WHERE NOISINH LIKE N'HÀ NỘI' AND MONTH(NGAYSINH) = 2

